.vertical {
  margin-bottom: 30px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.vertical .title {
  font-size: 36px;
}

li .title:hover {
  color: #f60;
}

.horizontal.color .title {
  color: #355e3b;
}

.horizontal.color .title:hover {
  color: #f60;
}
