.vertical {
  margin-bottom: 30px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.vertical .title {
  font-size: 36px;
}

li .title:hover {
  color: #f60;
}

.horizontal.white .title {
  /* transition: color var(--transition-delay) ease-in-out; */
  transition: color 1.2s;
}

.horizontal.green .title {
  color: #355e3b;
}

.horizontal .title:hover {
  color: #f60;
}
